@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
    background-size: 150%;
    background-position: top;
    font-family: 'Barlow Semi Condensed', sans-serif;
}